@model TicketSystem.Core.Models.Login.UserLogin

@{
    ViewData["Title"] = "UserLogin";
    Layout = "~/Views/_Layout.cshtml";
}

<h2 class="alert alert-info text-center" >UserLogin</h2>
<hr />
<div class="row">
    <div class="col-md-4 ">
        <form asp-action="UserLogin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label text-info">UserName</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userPassword" class="control-label text-info">Password</label>
                <input asp-for="userPassword" class="form-control" />
                <span asp-validation-for="userPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn alert alert-info col-md-offset-10" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

