
TicketSystem/.vs/TicketSystem/v15/.suo
TicketSystem/.vs/config/applicationhost.config
TicketSystem/.vs/TicketSystem/v15/Server/sqlite3/storage.ide
TicketSystem/.vs/TicketSystem/v15/Server/sqlite3/storage.ide-shm
TicketSystem/.vs/TicketSystem/v15/Server/sqlite3/storage.ide-wal
TicketSystem/TicketSystem.API/obj/project.assets.json
TicketSystem/TicketSystem.API/obj/TicketSystem.API.csproj.nuget.cache
TicketSystem/TicketSystem.API/obj/TicketSystem.API.csproj.nuget.g.props
TicketSystem/TicketSystem.Core/bin/Debug/netcoreapp2.0/TicketSystem.Core.deps.json
TicketSystem/TicketSystem.Core/bin/Debug/netcoreapp2.0/TicketSystem.Core.dll
TicketSystem/TicketSystem.Core/bin/Debug/netcoreapp2.0/TicketSystem.Core.pdb
TicketSystem/TicketSystem.Core/bin/Debug/netcoreapp2.0/TicketSystem.Core.runtimeconfig.dev.json
TicketSystem/TicketSystem.Core/bin/Debug/netcoreapp2.0/TicketSystem.Core.runtimeconfig.json
TicketSystem/TicketSystem.Core/obj/Debug/netcoreapp2.0/TicketSystem.Core.csproj.FileListAbsolute.txt
TicketSystem/TicketSystem.Core/obj/Debug/netcoreapp2.0/TicketSystem.Core.dll
TicketSystem/TicketSystem.Core/obj/Debug/netcoreapp2.0/TicketSystem.Core.csprojResolveAssemblyReference.cache
TicketSystem/TicketSystem.Core/obj/Debug/netcoreapp2.0/TicketSystem.Core.pdb
TicketSystem/TicketSystem.Core/obj/project.assets.json
TicketSystem/TicketSystem.Core/obj/TicketSystem.Core.csproj.nuget.cache
TicketSystem/TicketSystem.Core/obj/TicketSystem.Core.csproj.nuget.g.props
TicketSystem/TicketSystem.Data/obj/Debug/netcoreapp2.0/TicketSystem.Data.csproj.CoreCompileInputs.cache
TicketSystem/TicketSystem.Data/obj/project.assets.json
TicketSystem/TicketSystem.Data/obj/TicketSystem.Data.csproj.nuget.cache
TicketSystem/TicketSystem.Data/obj/TicketSystem.Data.csproj.nuget.g.props
TicketSystem/.vs/TicketSystem/v15/.suo
TicketSystem/.vs/TicketSystem/v15/Server/sqlite3/storage.ide
TicketSystem/TicketSystem.API/obj/project.assets.json
TicketSystem/TicketSystem.API/obj/TicketSystem.API.csproj.nuget.cache
TicketSystem/TicketSystem.API/obj/TicketSystem.API.csproj.nuget.g.props
TicketSystem/TicketSystem.Core/obj/project.assets.json
TicketSystem/TicketSystem.Core/obj/TicketSystem.Core.csproj.nuget.cache
TicketSystem/TicketSystem.Core/obj/TicketSystem.Core.csproj.nuget.g.props
TicketSystem/TicketSystem.Data/obj/Debug/netcoreapp2.0/TicketSystem.Data.csproj.CoreCompileInputs.cache
TicketSystem/TicketSystem.Data/obj/project.assets.json
TicketSystem/TicketSystem.Data/obj/TicketSystem.Data.csproj.nuget.cache
TicketSystem/TicketSystem.Data/obj/TicketSystem.Data.csproj.nuget.g.props
TicketSystem/.vs/TicketSystem/v15/.suo
TicketSystem/.vs/TicketSystem/v15/Server/sqlite3/storage.ide
TicketSystem/TicketSystem.API/obj/project.assets.json
TicketSystem/TicketSystem.API/obj/TicketSystem.API.csproj.nuget.cache
TicketSystem/TicketSystem.API/obj/TicketSystem.API.csproj.nuget.g.props
TicketSystem/TicketSystem.Core/obj/project.assets.json
TicketSystem/TicketSystem.Core/obj/TicketSystem.Core.csproj.nuget.cache
TicketSystem/TicketSystem.Core/obj/TicketSystem.Core.csproj.nuget.g.props
TicketSystem/TicketSystem.Data/obj/Debug/netcoreapp2.0/TicketSystem.Data.csproj.CoreCompileInputs.cache
TicketSystem/TicketSystem.Data/obj/project.assets.json
TicketSystem/TicketSystem.Data/obj/TicketSystem.Data.csproj.nuget.cache
TicketSystem/TicketSystem.Data/obj/TicketSystem.Data.csproj.nuget.g.props
TicketSystem/TicketSystem.Data/obj/Debug/netcoreapp2.0/TicketSystem.Data.csproj.CoreCompileInputs.cache
TicketSystem/TicketSystem.Data/obj/Debug/netcoreapp2.0/TicketSystem.Data.csproj.CoreCompileInputs.cache
TicketSystem/.vs/TicketSystem/v15/Server/sqlite3/storage.ide
TicketSystem/.vs/TicketSystem/v15/.suo
